$color-primary-light: white;
$color-secondary-light: #818384;
$color-primary-dark: #121213;
$color-primary-dark-opacity: rgba(0, 0, 0, 0.5);
$color-secondary-dark: #3a3a3c;
$color-letter-misplaced: #b59f3b;
$color-letter-match: #538d4e;

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@mixin tile-styles {
  border: 2px solid $color-secondary-dark;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 1.8rem;
  font-weight: bold;
}

@mixin letter-absent {
  background-color: $color-secondary-dark !important;
}

@mixin letter-misplaced {
  border-color: $color-letter-misplaced !important;
  background-color: $color-letter-misplaced !important;
}

@mixin letter-match {
  border-color: $color-letter-match !important;
  background-color: $color-letter-match !important;
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: $color-primary-dark;
}

* {
  color: $color-primary-light;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: $color-primary-dark;
}

.wordle-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-secondary-dark;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
}

.hamburger,
.statistics {
  margin-right: 0.5rem;
}

.hamburger,
.statistics,
.settings {

  & svg {
    fill: $color-primary-light;
  }

  &:hover {
    cursor: pointer;
  }
}

.title-container {
  text-align: center;
  width: 100%;
}

.message-container {
  height: 1.875rem;

  p {
    background-color: $color-primary-light;
    color: $color-primary-dark;
    font-weight: bold;
    border-radius: 2px;
    padding: 1rem;
    margin: 0;
  }
}

.tile-container {
  width: 20.625rem;
  margin-bottom: 1.875rem;

  div {
    display: flex;
  }

  .tile {
    width: 3.875rem;
    height: 3.875rem;
    @include tile-styles;

    &.flip {
      animation: 500ms linear flipping;
    }
  }
}

.key-container {
  width: 31.875rem;
  display: flex;
  flex-wrap: wrap;

  button {
    width: 2.6875rem;
    height: 3.625rem;
    border-radius: 4px;
    border: none;
    background-color: $color-secondary-light;
    margin: 4px;

    &:hover {
      cursor: pointer;
    }

    &:nth-child(11) {
      margin-left: 1.875rem;
    }

    &:nth-child(20),
    &:nth-child(28) {
      width: 4.25rem;
    }
  }
}

.overlay {

  &-letter-absent {
    @include letter-absent;
  }

  &-letter-misplaced {
    @include letter-misplaced;
  }

  &-letter-match {
    @include letter-match;
  }
}

.navigation-overlay {
  @include overlay;

  background-color: transparent;

  &__content {
    position: relative;
    top: 5rem;
    width: 23rem;
    height: calc(100% - 5rem);
    background-color: $color-primary-dark;
    overflow-y: auto;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  &__close-icon {
    position: absolute;
    top: 24px;
    right: 1.5rem;
    fill: $color-primary-light;

    &:hover {
      cursor: pointer;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &--bottom {
      border-top: 1px solid $color-primary-light;
      margin: 0 1.5rem;

      & > .navigation-overlay__navigation-item {

        & > p {
          padding: 0;
        }

        &:hover {
          background-color: initial;
          cursor: initial;
        }
      }
    }

    &-container {
      height: calc(100% - 5rem);
    }

    &-item {
      padding: 0.1rem 0;

      & > p {
        padding: 0 1.5rem;
      }

      &:hover {
        background-color: $color-secondary-dark;
        cursor: pointer;
      }
    }
  }

  &.hidden {
    display: none;
  }
}

.privacy {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.instructions-overlay {
  @include overlay;

  &.hidden {
    display: none;
  }

  &__content {
    max-width: 33vw;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__open-icon {

    &:hover {
      cursor: pointer;
    }

    svg {
      fill: $color-primary-light;
    }
  }

  &__close-icon {
    position: absolute;
    top: 1rem;
    right: 32vw;
    fill: $color-primary-light;

    &:hover {
      cursor: pointer;
    }
  }

  &__instructions {
    strong {
      font-weight: bold;
    }

    .allcaps {
      text-transform: uppercase;
    }
  }

  &__examples {
    border-top: 1px solid $color-secondary-dark;
    border-bottom: 1px solid $color-secondary-dark;
  }

  &__example {

    &--row {
      display: flex;
    }

    &--tile {
      width: 3rem;
      height: 3rem;
      @include tile-styles;

      &.letter-absent {
        @include letter-absent;
      }

      &.letter-misplaced {
        @include letter-misplaced;
      }

      &.letter-match {
        @include letter-match;
      }
    }
  }
}

.statistics {

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }

  &-content {
    display: flex;
    justify-content: center;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0.5rem;
    }

    &__data {
      font-size: 2.25rem;
    }

    &__label {
      max-width: min-content;
      text-align: center;
      text-transform: capitalize;
      font-size: 0.75rem;

      // "Win %" should stay on one line
      &.expand {
        max-width: fit-content;
      }
    }

    &__guess-distribution {

      & p {
        margin: 0;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }

  &-overlay {
    @include overlay;
    background-color: $color-primary-dark-opacity;
    display: flex;
    align-items: center;
    justify-content: center;

    &.hidden {
      display: none;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 33%;
      max-height: 90%;
      padding: 2rem;
      background-color: $color-primary-dark;
      border: 1px solid $color-primary-dark;
      border-radius: 0.5rem;
      box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
      overflow-y: auto;
    }

    &__close-icon {
      position: relative;
      top: -1rem;
      right: -1rem;

      &:hover {
        cursor: pointer;
      }

      & svg {
        position: absolute;
        top: 0;
        right: 0;
        fill: $color-primary-light;
      }
    }
  }
}

.settings {

  &-overlay {
    @include overlay;

    &__content {
      display: flex;
      flex-direction: column;
      max-width: 33vw;
      margin: 0 auto;
    }

    &__header {
      position: relative;
      display: flex;
      justify-content: center;
    }

    &__close-icon {
      position: absolute;
      top: 12px;
      right: 0;
      fill: $color-primary-light;

      &:hover {
        cursor: pointer;
      }
    }

    &__settings-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.8rem 0;
      padding-bottom: 0.8rem;
      border-bottom: 1px solid $color-secondary-light;

      &-title {
        font-size: 1.125rem;
        font-weight: normal;
        text-transform: capitalize;
        margin: 0;
      }

      &-description {
        font-size: 0.75rem;
        color: $color-secondary-light;
        margin: 0;
      }

      &-link {
        color: $color-secondary-light;
      }
    }

    &.hidden {
      display: none;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.control {

  &__switch {
    position: relative;
    height: 1.25rem;
    width: 2rem;
    background-color: $color-secondary-light;
    border-radius: 2rem;

    &.active {
      background-color: $color-letter-match;
    }
  }

  &__knob {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    background-color: $color-primary-light;

    &.active {
      left: unset;
      right: 2px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
