@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
* {
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #121213;
}

.wordle-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3a3a3c;
}
.navigation__left, .navigation__right {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.hamburger,
.statistics {
  margin-right: 0.5rem;
}

.hamburger svg,
.statistics svg,
.settings svg {
  fill: white;
}
.hamburger:hover,
.statistics:hover,
.settings:hover {
  cursor: pointer;
}

.title-container {
  text-align: center;
  width: 100%;
}

.message-container {
  height: 1.875rem;
}
.message-container p {
  background-color: white;
  color: #121213;
  font-weight: bold;
  border-radius: 2px;
  padding: 1rem;
  margin: 0;
}

.tile-container {
  width: 20.625rem;
  margin-bottom: 1.875rem;
}
.tile-container div {
  display: flex;
}
.tile-container .tile {
  width: 3.875rem;
  height: 3.875rem;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 1.8rem;
  font-weight: bold;
}
.tile-container .tile.flip {
  animation: 500ms linear flipping;
}

.key-container {
  width: 31.875rem;
  display: flex;
  flex-wrap: wrap;
}
.key-container button {
  width: 2.6875rem;
  height: 3.625rem;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  margin: 4px;
}
.key-container button:hover {
  cursor: pointer;
}
.key-container button:nth-child(11) {
  margin-left: 1.875rem;
}
.key-container button:nth-child(20), .key-container button:nth-child(28) {
  width: 4.25rem;
}

.overlay-letter-absent {
  background-color: #3a3a3c !important;
}
.overlay-letter-misplaced {
  border-color: #b59f3b !important;
  background-color: #b59f3b !important;
}
.overlay-letter-match {
  border-color: #538d4e !important;
  background-color: #538d4e !important;
}

.navigation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #121213;
  background-color: transparent;
}
.navigation-overlay__content {
  position: relative;
  top: 5rem;
  width: 23rem;
  height: calc(100% - 5rem);
  background-color: #121213;
  overflow-y: auto;
}
.navigation-overlay__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.navigation-overlay__close-icon {
  position: absolute;
  top: 24px;
  right: 1.5rem;
  fill: white;
}
.navigation-overlay__close-icon:hover {
  cursor: pointer;
}
.navigation-overlay__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.navigation-overlay__navigation--bottom {
  border-top: 1px solid white;
  margin: 0 1.5rem;
}
.navigation-overlay__navigation--bottom > .navigation-overlay__navigation-item > p {
  padding: 0;
}
.navigation-overlay__navigation--bottom > .navigation-overlay__navigation-item:hover {
  background-color: initial;
  cursor: initial;
}
.navigation-overlay__navigation-container {
  height: calc(100% - 5rem);
}
.navigation-overlay__navigation-item {
  padding: 0.1rem 0;
}
.navigation-overlay__navigation-item > p {
  padding: 0 1.5rem;
}
.navigation-overlay__navigation-item:hover {
  background-color: #3a3a3c;
  cursor: pointer;
}
.navigation-overlay.hidden {
  display: none;
}

.privacy {
  text-decoration: none;
}
.privacy:hover {
  text-decoration: underline;
}

.instructions-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #121213;
}
.instructions-overlay.hidden {
  display: none;
}
.instructions-overlay__content {
  max-width: 33vw;
  margin: 0 auto;
}
.instructions-overlay__title {
  text-align: center;
  text-transform: uppercase;
}
.instructions-overlay__open-icon:hover {
  cursor: pointer;
}
.instructions-overlay__open-icon svg {
  fill: white;
}
.instructions-overlay__close-icon {
  position: absolute;
  top: 1rem;
  right: 32vw;
  fill: white;
}
.instructions-overlay__close-icon:hover {
  cursor: pointer;
}
.instructions-overlay__instructions strong {
  font-weight: bold;
}
.instructions-overlay__instructions .allcaps {
  text-transform: uppercase;
}
.instructions-overlay__examples {
  border-top: 1px solid #3a3a3c;
  border-bottom: 1px solid #3a3a3c;
}
.instructions-overlay__example--row {
  display: flex;
}
.instructions-overlay__example--tile {
  width: 3rem;
  height: 3rem;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 1.8rem;
  font-weight: bold;
}
.instructions-overlay__example--tile.letter-absent {
  background-color: #3a3a3c !important;
}
.instructions-overlay__example--tile.letter-misplaced {
  border-color: #b59f3b !important;
  background-color: #b59f3b !important;
}
.instructions-overlay__example--tile.letter-match {
  border-color: #538d4e !important;
  background-color: #538d4e !important;
}

.statistics-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.statistics-content {
  display: flex;
  justify-content: center;
}
.statistics-content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}
.statistics-content__data {
  font-size: 2.25rem;
}
.statistics-content__label {
  max-width: min-content;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.75rem;
}
.statistics-content__label.expand {
  max-width: fit-content;
}
.statistics-content__guess-distribution p {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}
.statistics-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #121213;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistics-overlay.hidden {
  display: none;
}
.statistics-overlay__content {
  display: flex;
  flex-direction: column;
  width: 33%;
  max-height: 90%;
  padding: 2rem;
  background-color: #121213;
  border: 1px solid #121213;
  border-radius: 0.5rem;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.statistics-overlay__close-icon {
  position: relative;
  top: -1rem;
  right: -1rem;
}
.statistics-overlay__close-icon:hover {
  cursor: pointer;
}
.statistics-overlay__close-icon svg {
  position: absolute;
  top: 0;
  right: 0;
  fill: white;
}

.settings-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #121213;
}
.settings-overlay__content {
  display: flex;
  flex-direction: column;
  max-width: 33vw;
  margin: 0 auto;
}
.settings-overlay__header {
  position: relative;
  display: flex;
  justify-content: center;
}
.settings-overlay__close-icon {
  position: absolute;
  top: 12px;
  right: 0;
  fill: white;
}
.settings-overlay__close-icon:hover {
  cursor: pointer;
}
.settings-overlay__settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #818384;
}
.settings-overlay__settings-item-title {
  font-size: 1.125rem;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
}
.settings-overlay__settings-item-description {
  font-size: 0.75rem;
  color: #818384;
  margin: 0;
}
.settings-overlay__settings-item-link {
  color: #818384;
}
.settings-overlay.hidden {
  display: none;
}
.settings-title {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.control__switch {
  position: relative;
  height: 1.25rem;
  width: 2rem;
  background-color: #818384;
  border-radius: 2rem;
}
.control__switch.active {
  background-color: #538d4e;
}
.control__knob {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}
.control__knob.active {
  left: unset;
  right: 2px;
}
.control:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
