/**
 * This is the left navigation menu modal
 * opened by clicking the hamburger icon
 */

.navigation-overlay {
  @include overlay;

  background-color: transparent;

  &__content {
    position: relative;
    top: 5rem;
    width: 23rem;
    height: calc(100% - 5rem);
    background-color: $color-primary-dark;
    overflow-y: auto;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  &__close-icon {
    position: absolute;
    top: 24px;
    right: 1.5rem;
    fill: $color-primary-light;

    &:hover {
      cursor: pointer;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &--bottom {
      border-top: 1px solid $color-primary-light;
      margin: 0 1.5rem;

      & > .navigation-overlay__navigation-item {

        & > p {
          padding: 0;
        }

        &:hover {
          background-color: initial;
          cursor: initial;
        }
      }
    }

    &-container {
      height: calc(100% - 5rem);
    }

    &-item {
      padding: 0.1rem 0;

      & > p {
        padding: 0 1.5rem;
      }

      &:hover {
        background-color: $color-secondary-dark;
        cursor: pointer;
      }
    }
  }

  &.hidden {
    display: none;
  }
}

/**
 * The privacy policy link at the bottom of the left navigation menu
 */
.privacy {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}