* {
  color: $color-primary-light;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: $color-primary-dark;
}

.wordle-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}