@mixin tile-styles {
  border: 2px solid $color-secondary-dark;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 1.8rem;
  font-weight: bold;
}

@mixin letter-absent {
  background-color: $color-secondary-dark !important;
}

@mixin letter-misplaced {
  border-color: $color-letter-misplaced !important;
  background-color: $color-letter-misplaced !important;
}

@mixin letter-match {
  border-color: $color-letter-match !important;
  background-color: $color-letter-match !important;
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: $color-primary-dark;
}