/**
 * COLOURS
 */

$color-primary-light: white;
$color-secondary-light: #818384;
$color-primary-dark: #121213;
$color-primary-dark-opacity: rgba(0, 0, 0, 0.5);
$color-secondary-dark: #3a3a3c;
$color-letter-misplaced: #b59f3b;
$color-letter-match: #538d4e;